@using ProjetoTransportadora.Dto;

@{
    ViewBag.Title = "Feriados";

    UsuarioDto usuarioDto = null;
    if (Session[System.Configuration.ConfigurationManager.AppSettings["ProjetoTransportadoraCookieLogin"]] != null)
    {
        usuarioDto = (UsuarioDto)Session[System.Configuration.ConfigurationManager.AppSettings["ProjetoTransportadoraCookieLogin"]];
    }
}

@section scripts
{
    <script type="text/javascript">

        function habilitarModal(opcao) {
            if (opcao)
                $("#modalFeriado input").removeProp("disabled");
            else
                $("#modalFeriado input").prop("disabled", "disabled");
        }

        function limparFormulario() {
            $("#feriadoId").val("");
            $("#nome").val("");
            $("#dataFeriado").val("");
        }

        function carregarDadosModal(data) {
            $("#nome").val(data.Nome);

            if (data.DataFeriado != null)
                $("#dataFeriado").val(moment(data.DataFeriado).format("DD/MM/YYYY"));
        }

        function consultar(data) {
            limparFormulario();
            carregarDadosModal(data);
            habilitarModal(false);
            $("#lblAcao").text("Consultar");
            $("#lblTitulo").text(data.Nome);
            $("#feriadoId").val("");
            $("#btnIncluir").hide();
            $("#btnAlterar").hide();
            $("#modalFeriado").modal('show');
        }

        function alterar(data, o) {
            limparFormulario();
            carregarDadosModal(data);
            habilitarModal(true);
            $("#feriadoId").val(data.Id);
            $("#lblAcao").text("Alterar");
            $("#lblTitulo").text(data.Nome);
            $("#btnIncluir").hide();
            $("#btnAlterar").show();
            $("#modalFeriado").modal('show');
        }

        function alterarStatus(data, obj) {
            if (confirm("Deseja " + (data.Ativo == false ? "ativar" : "inativar") + " feriado?")) {

                var feriadoDto = {};

                feriadoDto.Id = data.Id;
                feriadoDto.Ativo = !data.Ativo;

                if (!feriadoDto.Ativo) {
                    feriadoDto.IdUsuarioInativacao = '@usuarioDto.Id';
                    feriadoDto.DataInativacao = '@DateTime.UtcNow';
                }

                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: "/Feriado/AlterarStatus",
                    data: { feriadoDto: feriadoDto },
                    success: function (data) {

                        if (!data.Sucesso) {
                            alert(data.Erro ? "danger" : "warning", data.Mensagem);
                            return;
                        }

                        $("#tbFeriado").DataTable().row($(obj).parents("tr")).invalidate().data(data.Data).draw();
                    }
                });
            }
        }

        $(document).ready(function () {

            var tbFeriado = $("#tbFeriado").DataTable({
                "ordering": false,
                "bFilter": false,
                "pageLength": 25,
                "language": {
                    "lengthMenu": "_MENU_ registros por página",
                    "zeroRecords": "Sem registros a serem exibidos",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sem registros a serem exibidos",
                    "infoFiltered": "(filtrados de _MAX_ total de registros)",
                    "sSearch": "Pesquisar",
                    "oPaginate": { "sNext": "Próximo", "sPrevious": "Anterior", "sFirst": "Primeiro", "sLast": "Último" }
                },
                "columns":
                    [
                        { "data": "Id", "className": "text-center" },
                        { "data": "Nome", "className": "text-center" },
                        { "data": function (data, type, row) { return data["DataFeriado"] != null ? moment(data["DataFeriado"]).format("DD/MM/YYYY") : "" }, "className": "text-center" },
                        { "data": function (data, type, row) { return data["DataCadastro"] != null ? moment(data["DataCadastro"]).format("DD/MM/YYYY") : "" }, "className": "text-center" },
                        { "data": function (data, type, row) { return "<a href='#' onclick='alterarStatus(" + JSON.stringify(data) + ", this)'>" + (data.Ativo ? "Sim" : "Não") + "</a>"; }, "className": "text-center" },
                        {
                            "data": function (data, type, row) {
                                var consultar = "<i class='glyphicon glyphicon-search' title='Consultar' style='cursor: pointer' onclick='consultar(" + JSON.stringify(data) + ", this)'></i>";
                                var alterar = "<i class='glyphicon glyphicon-edit' title='Editar' style='cursor: pointer' onclick='alterar(" + JSON.stringify(data) + ", this)'></i>";

                                return consultar + " " + alterar;

                            }, "className": "text-center"
                        }
                    ]
            });

            $("#btnPesquisar").click(function () {

                var feriadoDto = {};

                feriadoDto.Nome = $("#nomePesquisar").val();
                feriadoDto.DataFeriadoInicial = $("#dataFeriadoPesquisarInicial").val();
                feriadoDto.DataFeriadoFinal = $("#dataFeriadoPesquisarFinal").val();

                if ($("#ativo").val() == "0")
                    feriadoDto.Ativo = false;
                else if ($("#ativo").val() == "1")
                    feriadoDto.Ativo = true;

                $.ajax({
                    dataType: "json",
                    type: "GET",
                    url: "/Feriado/Listar",
                    data: feriadoDto,
                    success: function (data) {

                        if (!data.Sucesso) {
                            alert(data.Erro ? "danger" : "warning", data.Mensagem);
                            return;
                        }

                        tbFeriado.clear();
                        tbFeriado.rows.add(data.Data).draw();
                    }
                });

            });

            $("#btnNovo").click(function ()
            {
                $("#lblAcao").html("Novo");
                $("#lblTitulo").html("");
                $("#btnIncluir").show();
                $("#btnAlterar").hide();

                limparFormulario();
                habilitarModal(true);

                $("#modalFeriado").modal('show');
            });

            $("#btnIncluir").click(function () {

                var feriadoDto = {};

                feriadoDto.Nome = $("#nome").val();
                feriadoDto.DataFeriado = $("#dataFeriado").val();
                feriadoDto.IdUsuarioCadastro = '@usuarioDto.Id';
                feriadoDto.DataCadastro = '@DateTime.UtcNow';

                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: "/Feriado/Incluir",
                    data: { feriadoDto: feriadoDto },
                    success: function (data) {

                        if (!data.Sucesso) {
                            alert(data.Erro ? "danger" : "warning", data.Mensagem);
                            return;
                        }

                        limparFormulario();

                        tbFeriado.clear();
                        tbFeriado.rows.add(data.Data).draw();

                        $("#modalFeriado").modal('hide');
                    }
                });
            });

            $("#btnAlterar").click(function () {

                var feriadoDto = {};

                feriadoDto.Id = $("#feriadoId").val();
                feriadoDto.Nome = $("#nome").val();
                feriadoDto.DataFeriado = $("#dataFeriado").val();

                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: "/Feriado/Alterar",
                    data: { feriadoDto: feriadoDto },
                    success: function (data) {

                        if (!data.Sucesso) {
                            alert(data.Erro ? "danger" : "warning", data.Mensagem);
                            return;
                        }

                        limparFormulario();

                        var idx;
                        $("#tbFeriado").DataTable().rows().every(function (rowIdx, tableLoop, rowLoop) {
                            if (this.data().Id == feriadoDto.Id) {
                                idx = rowIdx;
                                return;
                            }
                        });

                        $("#tbFeriado").DataTable().row(idx).invalidate().data(data.Data).draw();

                        $("#modalFeriado").modal('hide');
                    }
                });
            });

            $("#btnExportar").click(function () {

                var existeRegistroGrid = false;

                tbFeriado.rows().every(function (rowIdx, tableLoop, rowLoop) {
                    existeRegistroGrid = true;
                    return;
                });

                if (!existeRegistroGrid) {
                    alert("warning", "Não há registros a serem exportados");
                    return;
                }

                window.location.href = "@Url.Action("Exportar", "Feriado")?Nome=" + $("#nomePesquisar").val() + "&DataFeriadoInicial=" + $("#dataFeriadoPesquisarInicial").val() + "&DataFeriadoFinal=" + $("#dataFeriadoPesquisarFinal").val();
            });

            document.getElementById('frmFeriadoImportar').onsubmit = function () {

                var formdata = new FormData();
                var fileInput = document.getElementById('arquivo');

                var existeArquivo = fileInput.files[0] != undefined ? true : false;

                if (!existeArquivo) {
                    alert("warning", "Selecione um arquivo para importar");
                    return false;
                }

                $.blockUI({ message: '<h5>Carregando...</h4>' });

                formdata.append(fileInput.files[0].name, fileInput.files[0]);

                var xhr = new XMLHttpRequest();

                xhr.open('POST', '/Feriado/Importar');
                xhr.send(formdata);

                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        var response = JSON.parse(xhr.responseText);
                        $.unblockUI();
                        alert("success", response.Mensagem);
                    }
                }

                return false;
            }
        });

    </script>
}
<div>
    <h2><i class="glyphicon glyphicon-plane" style="color: #0f3456" title="Feriados"></i> Feriados</h2>
    <hr />
    <div class="form-group">
        <div class="row">
            <div class="col-md-2">
                <input id="nomePesquisar" type="text" class="form-control" placeholder="Nome do Feriado" />
            </div>
            <div class="col-md-2">
                <input id="dataFeriadoPesquisarInicial" type="text" class="form-control data datepicker" placeholder="Data do Feriado (Início)" />
            </div>
            <div class="col-md-2">
                <input id="dataFeriadoPesquisarFinal" type="text" class="form-control data datepicker" placeholder="Data do Feriado (Fim)" />
            </div>
            <div class="col-md-1">
                <select id="ativo" class="form-control">
                    <option value="">Ativo</option>
                    <option value="1">Sim</option>
                    <option value="0">Não</option>
                </select>
            </div>
            <div class="col-md-5">
                <input id="btnPesquisar" type="button" class="btn btn-info" value="Pesquisar" />
                <input id="btnNovo" type="button" class="btn" value="Novo Feriado" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <input id="btnExportar" type="button" class="btn btn-success" value="Exportar" />
                <form id="frmFeriadoImportar" style="display: inline-flex">
                    <input id="arquivo" name="arquivo" type="file" />
                    <input id="btnImportar" type="submit" class="btn btn-warning" value="Importar" />
                </form>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="table-responsive">
            <table id="tbFeriado" class="table nowrap">
                <thead>
                    <tr>
                        <td class="text-center" style="width: 5%"><b>Id</b></td>
                        <td class="text-center" style="width: 35%"><b>Nome</b></td>
                        <td class="text-center" style="width: 15%"><b>Data Feriado</b></td>
                        <td class="text-center" style="width: 15%"><b>Data Cadastro</b></td>
                        <td class="text-center" style="width: 15%"><b>Ativo</b></td>
                        <td class="text-center" style="width: 15%"><b>Ação</b></td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modalFeriado" tabindex="-1" role="dialog" aria-labelledby="ModalFeriado" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                <h4 class="modal-title" id="myModalLabel"><span id="lblAcao"></span> Feriado <label id="lblTitulo"></label></h4>
            </div>
            <div class="modal-body">
                <input id="feriadoId" type="hidden" />
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-10">
                            <label for="nome">Nome:</label>
                            <input id="nome" type="text" class="form-control" placeholder="Nome do Feriado" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-10">
                            <label for="dataFeriado">Data do Feriado:</label>
                            <input id="dataFeriado" type="text" class="form-control data datepicker" placeholder="Data do Feriado" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnIncluir" type="button" class="btn btn-primary">Incluir</button>
                <button id="btnAlterar" type="button" class="btn btn-warning">Alterar</button>
            </div>
        </div>
    </div>
</div>
