@using ProjetoTransportadora.Dto;

@{
    ViewBag.Title = "Grupos";

    UsuarioDto usuarioDto = null;
    if (Session[System.Configuration.ConfigurationManager.AppSettings["ProjetoTransportadoraCookieLogin"]] != null)
    {
        usuarioDto = (UsuarioDto)Session[System.Configuration.ConfigurationManager.AppSettings["ProjetoTransportadoraCookieLogin"]];
    }
}

@section scripts
{
    <script type="text/javascript">

        function habilitarModal(opcao) {
            if (opcao)
                $("#modalGrupo input").removeProp("disabled");
            else
                $("#modalGrupo input").prop("disabled", "disabled");
        }

        function limparFormulario() {
            $("#grupoId").val("");
            $("#nome").val("");
            $(".ckb").each(function (i, a) {
                $(a).prop('checked', false);
            });
        }

        function carregarDadosModal(data) {
            $("#nome").val(data.Nome);

            for (var i = 0; i < data.GrupoFuncionalidadeDto.length; i++) {
                var idFuncionalidade = data.GrupoFuncionalidadeDto[i].IdFuncionalidade;
                $(".ckb").each(function (i, a) {
                    if ($(a).val() == idFuncionalidade) {
                        $(a).prop('checked', true);
                        return;
                    }
                });
            }
        }

        function consultar(data) {
            limparFormulario();            
            carregarDadosModal(data);
            habilitarModal(false);
            $("#lblAcao").text("Consultar");
            $("#lblTitulo").text(data.Nome);
            $("#grupoId").val("");
            $("#btnIncluir").hide();
            $("#btnAlterar").hide();
            $("#modalGrupo").modal('show');
        }

        function alterar(data, o) {
            limparFormulario();            
            carregarDadosModal(data);
            habilitarModal(true);
            $("#grupoId").val(data.Id);
            $("#lblAcao").text("Alterar");
            $("#lblTitulo").text(data.Nome);
            $("#btnIncluir").hide();
            $("#btnAlterar").show();
            $("#modalGrupo").modal('show');
        }

        function alterarStatus(data, obj) {
            if (confirm("Deseja " + (data.Ativo == false ? "ativar" : "inativar") + " grupo?")) {

                var grupoDto = {};

                grupoDto.Id = data.Id;
                grupoDto.Ativo = !data.Ativo;

                if (!grupoDto.Ativo) {
                    grupoDto.IdUsuarioInativacao = '@usuarioDto.Id';
                    grupoDto.DataInativacao = '@DateTime.UtcNow';
                }

                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: "/Grupo/AlterarStatus",
                    data: JSON.stringify(grupoDto),
                    contentType: "application/json",
                    success: function (data) {

                        if (!data.Sucesso) {
                            alert(data.Erro ? "danger" : "warning", data.Mensagem);
                            return;
                        }

                        $("#tbGrupo").DataTable().row($(obj).parents("tr")).invalidate().data(data.Data).draw();
                    }
                });
            }
        }

        $(document).ready(function () {

            var tbGrupo = $("#tbGrupo").DataTable({
                "ordering": false,
                "bFilter": false,
                "pageLength": 25,
                "language": {
                    "lengthMenu": "_MENU_ registros por página",
                    "zeroRecords": "Sem registros a serem exibidos",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sem registros a serem exibidos",
                    "infoFiltered": "(filtrados de _MAX_ total de registros)",
                    "sSearch": "Pesquisar",
                    "oPaginate": { "sNext": "Próximo", "sPrevious": "Anterior", "sFirst": "Primeiro", "sLast": "Último" }
                },
                "columns":
                    [
                        { "data": "Id", "className": "text-center" },
                        { "data": "Nome", "className": "text-center" },
                        {
                            "data": function (data, type, row)
                            {
                                var funcionalidades = "";

                                if (data.GrupoFuncionalidadeDto == null || data.GrupoFuncionalidadeDto.length <= 0)
                                    return funcionalidades;

                                for (var i = 0; i < data.GrupoFuncionalidadeDto.length; i++) {
                                    funcionalidades = funcionalidades + data.GrupoFuncionalidadeDto[i].FuncionalidadeDto.Descricao + ", ";
                                }

                                return funcionalidades.substring(0, funcionalidades.length - 2);;

                            }, "className": "text-center"
                        },
                        { "data": function (data, type, row) { return data["DataCadastro"] != null ? moment(data["DataCadastro"]).format("DD/MM/YYYY") : "" }, "className": "text-center" },
                        { "data": function (data, type, row) { return "<a href='#' onclick='alterarStatus(" + JSON.stringify(data) + ", this)'>" + (data.Ativo ? "Sim" : "Não") + "</a>"; }, "className": "text-center" },
                        {
                            "data": function (data, type, row) {
                                var consultar = "<i class='glyphicon glyphicon-search' title='Consultar' style='cursor: pointer' onclick='consultar(" + JSON.stringify(data) + ", this)'></i>";
                                var alterar = "<i class='glyphicon glyphicon-edit' title='Editar' style='cursor: pointer' onclick='alterar(" + JSON.stringify(data) + ", this)'></i>";

                                return consultar + " " + alterar;

                            }, "className": "text-center"
                        }
                    ]
            });

            $("#btnPesquisar").click(function () {

                var grupoDto = {};

                grupoDto.Nome = $("#nomePesquisar").val();

                if ($("#ativo").val() == "0")
                    grupoDto.Ativo = false;
                else if ($("#ativo").val() == "1")
                    grupoDto.Ativo = true;

                $.ajax({
                    dataType: "json",
                    type: "GET",
                    url: "/Grupo/Listar",
                    data: grupoDto,
                    contentType: "application/json",
                    success: function (data) {

                        if (!data.Sucesso) {
                            alert(data.Erro ? "danger" : "warning", data.Mensagem);
                            return;
                        }

                        tbGrupo.clear();
                        tbGrupo.rows.add(data.Data).draw();
                    }
                });

            });

            $("#btnNovo").click(function ()
            {
                $("#lblAcao").html("Novo");
                $("#lblTitulo").html("");
                $("#btnIncluir").show();
                $("#btnAlterar").hide();

                limparFormulario();
                habilitarModal(true);

                $("#modalGrupo").modal('show');
            });

            $("#btnIncluir").click(function () {

                var grupoDto = {};

                grupoDto.Nome = $("#nome").val();
                grupoDto.IdUsuarioCadastro = '@usuarioDto.Id';
                grupoDto.DataCadastro = '@DateTime.UtcNow';

                grupoDto.GrupoFuncionalidadeDto = [];

                $(".ckb:checked").each(function (i, a) {
                    grupoDto.GrupoFuncionalidadeDto.push({ IdFuncionalidade: $(a).val(), Inserir: true, Ler: true, Atualizar: true, Excluir: true, Executar: true });
                });

                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: "/Grupo/Incluir",
                    data: JSON.stringify(grupoDto),
                    contentType: "application/json",
                    success: function (data) {

                        if (!data.Sucesso) {
                            alert(data.Erro ? "danger" : "warning", data.Mensagem);
                            return;
                        }

                        limparFormulario();

                        tbGrupo.clear();
                        tbGrupo.rows.add(data.Data).draw();

                        $("#modalGrupo").modal('hide');
                    }
                });
            });

            $("#btnAlterar").click(function () {

                var grupoDto = {};

                grupoDto.Id = $("#grupoId").val();
                grupoDto.Nome = $("#nome").val();

                grupoDto.GrupoFuncionalidadeDto = [];

                $(".ckb:checked").each(function (i, a) {
                    grupoDto.GrupoFuncionalidadeDto.push({ IdFuncionalidade: $(a).val(), IdGrupo: grupoDto.Id, Inserir: true, Ler: true, Atualizar: true, Excluir: true, Executar: true });
                });

                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: "/Grupo/Alterar",
                    data: JSON.stringify(grupoDto),
                    contentType: "application/json",
                    success: function (data) {

                        if (!data.Sucesso) {
                            alert(data.Erro ? "danger" : "warning", data.Mensagem);
                            return;
                        }

                        limparFormulario();

                        var idx;
                        $("#tbGrupo").DataTable().rows().every(function (rowIdx, tableLoop, rowLoop) {
                            if (this.data().Id == grupoDto.Id) {
                                idx = rowIdx;
                                return;
                            }
                        });

                        $("#tbGrupo").DataTable().row(idx).invalidate().data(data.Data).draw();

                        $("#modalGrupo").modal('hide');
                    }
                });
            });
        });

    </script>
}
<div>
    <h2><i class="glyphicon glyphicon-ok" style="color: #0f3456" title="Grupos"></i> Grupos</h2>
    <hr />
    <div class="form-group">
        <div class="row">
            <div class="col-md-2">
                <input id="nomePesquisar" type="text" class="form-control" placeholder="Nome do Grupo" />
            </div>
            <div class="col-md-1">
                <select id="ativo" class="form-control">
                    <option value="">Ativo</option>
                    <option value="1">Sim</option>
                    <option value="0">Não</option>
                </select>
            </div>
            <div class="col-md-4">
                <input id="btnPesquisar" type="button" class="btn btn-info" value="Pesquisar" />
                <input id="btnNovo" type="button" class="btn" value="Novo Grupo" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="table-responsive">
            <table id="tbGrupo" class="table">
                <thead>
                    <tr>
                        <td class="text-center" style="width: 4.5%"><b>Id</b></td>
                        <td class="text-center" style="width: 17.5%"><b>Nome</b></td>
                        <td class="text-center" style="width: 17.5%"><b>Funcionalidades</b></td>
                        <td class="text-center" style="width: 17.5%"><b>Data Cadastro</b></td>
                        <td class="text-center" style="width: 21.5%"><b>Ativo</b></td>
                        <td class="text-center" style="width: 21.5% "><b>Ação</b></td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modalGrupo" tabindex="-1" role="dialog" aria-labelledby="ModalGrupo" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                <h4 class="modal-title" id="myModalLabel"><span id="lblAcao"></span> Grupo <label id="lblTitulo"></label></h4>
            </div>
            <div class="modal-body">
                <input id="grupoId" type="hidden" />
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-10">
                            <label for="nome">Nome:</label>
                            <input id="nome" type="text" class="form-control" placeholder="Nome" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-10">
                            <b>Funcionalidades:</b>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-10">
                            @{
                                foreach (var funcionalidadeDto in (List<ProjetoTransportadora.Dto.FuncionalidadeDto>)ViewBag.Funcionalidade)
                                {
                                    <div class="col-md-4">
                                        <input type="checkbox" value="@funcionalidadeDto.Id" class="ckb" /> @funcionalidadeDto.Descricao
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnIncluir" type="button" class="btn btn-primary">Incluir</button>
                <button id="btnAlterar" type="button" class="btn btn-warning">Alterar</button>
            </div>
        </div>
    </div>
</div>