@using ProjetoTransportadora.Dto;

@{
    ViewBag.Title = "Pessoas Jurídicas";

    UsuarioDto usuarioDto = null;
    if (Session[System.Configuration.ConfigurationManager.AppSettings["ProjetoTransportadora.Usuario"]] != null)
    {
        usuarioDto = (UsuarioDto)Session[System.Configuration.ConfigurationManager.AppSettings["ProjetoTransportadora.Usuario"]];
    }
}

@section styles
{
    <style type="text/css">
        .modal-lg {
            width: 85%;
        }

        .modal-body {
            padding: 40px;
        }

        .ui-autocomplete {
            z-index: 2147483647;
        }
    </style>
}

@section scripts
{
    <script type="text/javascript">

        function habilitarModal(opcao) {
            if (opcao) {
                $("#modalPessoaJuridica input, #modalPessoaJuridica select, #modalPessoaJuridica textarea").removeProp("disabled");
                $("i.glyphicon-remove").show();
            }
            else {
                $("#modalPessoaJuridica input, #modalPessoaJuridica select, #modalPessoaJuridica textarea").prop("disabled", "disabled");
                $("i.glyphicon-remove").hide();
            }
        }

        function limparFormulario() {

            $("#frmPessoaJuridica").trigger("reset");

            $("#idPessoa").val("");
            $("#idProprietario").val("");
            $("#cepResidencia").val("");
            $("#cnpj").val("");

            $("#tbPessoaTelefone").DataTable().clear().draw();
            $("#tbPessoaEmail").DataTable().clear().draw();
            $("#tbPessoaHistorico").DataTable().clear().draw();
            $("#tbPessoaContrato").DataTable().clear().draw();
        }

        function carregarDadosModal(data) {

            // aba - empresa

            $("#nomeEmpresa").val(data.Nome);
            $("#cnpj").val(data.Cnpj);

            var proprietario = data.PessoaProprietarioDto;
            if (proprietario != null && proprietario.Nome != "") {
                $("#idProprietario").val(proprietario.Id);
                $("#proprietario").val(proprietario.Nome);
            }

            $("#produto").val(data.IdProduto);

            if (data.DataAbertura != null)
                $("#dataAbertura").val(moment(data.DataAbertura).format("DD/MM/YYYY"));

            // aba - localização

            $("#cepResidencia").val(data.CepResidencia);
            $("#logradouroResidencia").val(data.LogradouroResidencia);
            $("#numeroResidencia").val(data.NumeroResidencia);
            $("#complementoResidencia").val(data.ComplementoResidencia);
            $("#bairroResidencia").val(data.BairroResidencia);
            $("#cidadeResidencia").val(data.CidadeResidencia);
            $("#ufResidencia").val(data.UfResidencia);
            $("#tipoResidencia").val(data.IdTipoResidencia);
            $("#valorAluguel").val(Globalize.format(data.ValorAluguel, "n2"));
            $("#tempoResidencial").val(data.TempoResidencial);

            var tipoTelefoneDto = @Html.Raw(Json.Encode(ViewBag.TipoTelefone));

            // aba - contato

            $("#tbPessoaTelefone").DataTable().clear().draw();
            $(data.PessoaTelefoneDto).each(function (i, o) {

                var id = Math.floor((Math.random() * 100000000) + 1);

                var selectTipoTelefone = "<select id='" + id + "' name='tipoTelefone' class='form-control tipoTelefone'>"
                selectTipoTelefone += "<option value=''>Tipo Telefone</option>";
                $(tipoTelefoneDto).each(function (i, e) {
                    selectTipoTelefone += "<option value='" + e.Id + "'>" + e.Nome + "</option>";
                });
                selectTipoTelefone += '</select>';

                $("#tbPessoaTelefone").DataTable().rows.add([
                {
                    "Id": o.Id,
                    "Pais": "<input type='text' class='form-control pais' value='" + (o.Pais == null ? '' : o.Pais) + "' />",
                    "DDD": "<input type='text' class='form-control ddd' value='" + (o.DDD == null ? '' : o.DDD) + "' />",
                    "Numero": "<input type='text' class='form-control numero celular' value='" + o.Numero + "' />",
                    "NomeContato": "<input type='text' class='form-control nomeContatoTelefone' value='" + (o.NomeContato == null ? '' : o.NomeContato) + "' />",
                    "IdTipoTelefone": selectTipoTelefone,
                    "Acao": "<i class='glyphicon glyphicon-remove' title='Excluir' style='cursor: pointer'></i>"
                }]).draw();

                if (o.IdTipoTelefone > 0)
                    $("#" + id).val(o.IdTipoTelefone);
            });

            $("#tbPessoaEmail").DataTable().clear().draw();
            $(data.PessoaEmailDto).each(function (i, o) {

                $("#tbPessoaEmail").DataTable().rows.add([
                    {
                        "Id": o.Id,
                        "Email": "<input type='text' class='form-control emailContato' value='" + o.Email + "' />",
                        "NomeContato": "<input type='text' class='form-control nomeContatoEmail' value='" + (o.NomeContato == null ? '' : o.NomeContato) + "' />",
                        "Acao": "<i class='glyphicon glyphicon-remove' title='Excluir' style='cursor: pointer'></i>"
                    }]).draw();
            });

            // aba - histórico

            $("#tbPessoaHistorico").DataTable().clear().draw();
            $(data.PessoaHistoricoDto).each(function (i, o) {

                $("#tbPessoaHistorico").DataTable().rows.add([
                {
                    "Id": o.Id,
                    "DataHistorico": "<input type='text' class='form-control data datepicker text-center dataHistorico' value='" + moment(o.DataHistorico).format("DD/MM/YYYY") + "' />",
                    "Descricao": "<textarea class='form-control descricaoHistorico' rows='3'>" + o.Descricao + "</textarea>",
                    "Acao": "<i class='glyphicon glyphicon-remove' title='Excluir' style='cursor: pointer'></i>"
                }]).draw();
            });

            // aba - contratos

            $("#tbPessoaContrato").DataTable().clear().draw();
            $("#tbPessoaContrato").DataTable().rows.add(data.PessoaContratoDto).draw();


            // reaplica máscaras
            $(".cep").mask("00000-000");
            $(".cnpj").mask("00.000.000/0000-00");
            $(".valor").mask("000.000.000,00", { reverse: true });
            $(".ddd").mask("00");
            $(".celular").mask("9999-99999").focusout(function (event) {
                var target, phone, element;
                target = (event.currentTarget) ? event.currentTarget : event.srcElement;
                phone = target.value.replace(/\D/g, '');
                element = $(target);
                element.unmask();
                if (phone.length > 8) {
                    element.mask("99999-9999");
                }
                else {
                    element.mask("9999-99999");
                }
            });

            $(".celular").trigger('focusout');

            $(".dataHistorico").mask("00/00/0000");
            $(".dataHistorico").datepicker({
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior',
                changeMonth: true,
                changeYear: true
            });
        }

        function consultar(id) {

            var pessoaDto = { Id: id };

            $.ajax({
                dataType: "json",
                type: "GET",
                url: "/PessoaJuridica/Listar",
                data: pessoaDto,
                contentType: "application/json",
                success: function (data) {

                    if (!data.Sucesso) {
                        alert(data.Erro ? "danger" : "warning", data.Mensagem);
                        return;
                    }

                    limparFormulario();
                    carregarDadosModal(data.Data[0]);
                    habilitarModal(false);
                    $("#lblAcao").text("Consultar");
                    $("#lblTitulo").text(data.Data[0].Nome);
                    $("#idPessoa").val("");
                    $("#btnIncluir").hide();
                    $("#btnAlterar").hide();
                    $("#modalPessoaJuridica").modal('show');
                    $('#empresa-tab').click();
                }
            });


        }

        function alterar(id) {

            var pessoaDto = { Id: id };

            $.ajax({
                dataType: "json",
                type: "GET",
                url: "/PessoaJuridica/Listar",
                data: pessoaDto,
                contentType: "application/json",
                success: function (data) {

                    if (!data.Sucesso) {
                        alert(data.Erro ? "danger" : "warning", data.Mensagem);
                        return;
                    }

                    limparFormulario();
                    carregarDadosModal(data.Data[0]);
                    habilitarModal(true);
                    $("#idPessoa").val(id);
                    $("#lblAcao").text("Alterar");
                    $("#lblTitulo").text(data.Data[0].Nome);
                    $("#btnIncluir").hide();
                    $("#btnAlterar").show();
                    $("#modalPessoaJuridica").modal('show');
                    $('#empresa-tab').click();
                }
            });


        }

        function alterarStatus(data, obj) {
            if (confirm("Deseja " + (data.Ativo == false ? "ativar" : "inativar") + " pessoa jurídica?")) {

                var pessoaDto = {};

                pessoaDto.Id = data.Id;
                pessoaDto.Ativo = !data.Ativo;

                if (!pessoaDto.Ativo) {
                    pessoaDto.IdUsuarioInativacao = '@usuarioDto.Id';
                    pessoaDto.DataInativacao = '@DateTime.UtcNow';
                }

                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: "/PessoaJuridica/AlterarStatus",
                    data: JSON.stringify(pessoaDto),
                    contentType: "application/json",
                    success: function (data) {

                        if (!data.Sucesso) {
                            alert(data.Erro ? "danger" : "warning", data.Mensagem);
                            return;
                        }

                        $("#tbPessoa").DataTable().row($(obj).parents("tr")).invalidate().data(data.Data[0]).draw();
                    }
                });
            }
        }

        $(document).ready(function () {

            var tbPessoa = $("#tbPessoa").DataTable({
                "ordering": false,
                "bFilter": false,
                "paging": true,
                "pageLength": 25,
                "ordering": false,
                "info": false,
                "searching": false,
                "language": {
                    "lengthMenu": "_MENU_ registros por página",
                    "zeroRecords": "Sem registros a serem exibidos",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sem registros a serem exibidos",
                    "infoFiltered": "(filtrados de _MAX_ total de registros)",
                    "sSearch": "Pesquisar",
                    "oPaginate": { "sNext": "Próximo", "sPrevious": "Anterior", "sFirst": "Primeiro", "sLast": "Último" }
                },
                "columns":
                    [
                        { "data": "Id", "className": "text-center", "visible": false },
                        { "data": "Nome", "className": "text-center" },
                        {
                            "data": function (data, type, row) {
                                var cnpj = data.Cnpj.replace(/[^\d]/g, "");
                                cnpj = cnpj.replace(/(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})/, "$1.$2.$3/$4-$5");
                                return cnpj;
                            }, "className": "text-center"
                        },
                        { "data": "NomeProprietario", "className": "text-center" },
                        { "data": function (data, type, row) { return "<a href='#' onclick='alterarStatus(" + JSON.stringify(data) + ", this)'>" + (data.Ativo ? "Sim" : "Não") + "</a>"; }, "className": "text-center" },
                        {
                            "data": function (data, type, row) {
                                var consultar = "<i class='glyphicon glyphicon-search' title='Consultar' style='cursor: pointer' onclick='consultar(" + data.Id + ")'></i>";
                                var alterar = "<i class='glyphicon glyphicon-edit' title='Editar' style='cursor: pointer' onclick='alterar(" + data.Id + ")'></i>";

                                return consultar + " " + alterar;

                            }, "className": "text-center"
                        }
                    ]
            });

            var tbPessoaTelefone = $("#tbPessoaTelefone").DataTable({
                "ordering": false,
                "bFilter": false,
                "paging": false,
                "ordering": false,
                "info": false,
                "searching": false,
                "language": {
                    "lengthMenu": "_MENU_ registros por página",
                    "zeroRecords": "Sem registros a serem exibidos",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sem registros a serem exibidos",
                    "infoFiltered": "(filtrados de _MAX_ total de registros)",
                    "sSearch": "Pesquisar",
                    "oPaginate": { "sNext": "Próximo", "sPrevious": "Anterior", "sFirst": "Primeiro", "sLast": "Último" }
                },
                "columns":
                    [
                        { "data": "Id", "className": "text-center", "visible": false },
                        { "data": "Pais", "className": "text-center" },
                        { "data": "DDD", "className": "text-center" },
                        { "data": "Numero", "className": "text-center" },
                        { "data": "NomeContato", "className": "text-center" },
                        { "data": "IdTipoTelefone", "className": "text-center" },
                        { "data": "Acao", "className": "text-center" }
                    ]
            });

            var tbPessoaEmail = $("#tbPessoaEmail").DataTable({
                "ordering": false,
                "bFilter": false,
                "paging": false,
                "ordering": false,
                "info": false,
                "searching": false,
                "language": {
                    "lengthMenu": "_MENU_ registros por página",
                    "zeroRecords": "Sem registros a serem exibidos",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sem registros a serem exibidos",
                    "infoFiltered": "(filtrados de _MAX_ total de registros)",
                    "sSearch": "Pesquisar",
                    "oPaginate": { "sNext": "Próximo", "sPrevious": "Anterior", "sFirst": "Primeiro", "sLast": "Último" }
                },
                "columns":
                    [
                        { "data": "Id", "className": "text-center", "visible": false },
                        { "data": "Email", "className": "text-center" },
                        { "data": "NomeContato", "className": "text-center" },
                        { "data": "Acao", "className": "text-center" }
                    ]
            });

            var tbPessoaHistorico = $("#tbPessoaHistorico").DataTable({
                "ordering": false,
                "bFilter": false,
                "paging": false,
                "ordering": false,
                "info": false,
                "searching": false,
                "autoWidth": false,
                "language": {
                    "lengthMenu": "_MENU_ registros por página",
                    "zeroRecords": "Sem registros a serem exibidos",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sem registros a serem exibidos",
                    "infoFiltered": "(filtrados de _MAX_ total de registros)",
                    "sSearch": "Pesquisar",
                    "oPaginate": { "sNext": "Próximo", "sPrevious": "Anterior", "sFirst": "Primeiro", "sLast": "Último" }
                },
                "columns":
                    [
                        { "data": "Id", "className": "text-center", "visible": false, "width": "5%" },
                        { "data": "DataHistorico", "className": "text-center", "width": "5%" },
                        { "data": "Descricao", "className": "text-center", "width": "85%" },
                        { "data": "Acao", "className": "text-center", "width": "5%" }
                    ]
            });

            var tbPessoaContrato = $("#tbPessoaContrato").DataTable({
                "ordering": false,
                "bFilter": false,
                "paging": false,
                "ordering": false,
                "info": false,
                "searching": false,
                "language": {
                    "lengthMenu": "_MENU_ registros por página",
                    "zeroRecords": "Sem registros a serem exibidos",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sem registros a serem exibidos",
                    "infoFiltered": "(filtrados de _MAX_ total de registros)",
                    "sSearch": "Pesquisar",
                    "oPaginate": { "sNext": "Próximo", "sPrevious": "Anterior", "sFirst": "Primeiro", "sLast": "Último" }
                },
                "columns":
                    [
                        { "data": "Id", "className": "text-center" },
                        { "data": "PessoaClienteDto.Nome", "className": "text-center" },
                        { "data": "VeiculoDto.Placa", "className": "text-center" },
                        { "data": "VeiculoDto.Modelo", "className": "text-center" },
                        { "data": function (data, type, row) { return data["DataContrato"] != null ? moment(data["DataContrato"]).format("DD/MM/YYYY") : "" }, "className": "text-center" },
                        { "data": function (data, type, row) { return data["ValorFinanciado"] != null ? Globalize.format(data.ValorFinanciado, "n2") : "" }, "className": "text-center" },
                        { "data": "SituacaoContratoDto.Nome", "className": "text-center" }
                    ]
            });

            // botão excluir tbPessoaEmail
            $('#tbPessoaTelefone tbody').on('click', 'i.glyphicon-remove', function () {
                if (confirm("Deseja realmente excluir o telefone?")) {
                    tbPessoaTelefone.row($(this).parents('tr')).remove().draw();
                }
            });

            // botão excluir tbPessoaEmail
            $('#tbPessoaEmail tbody').on('click', 'i.glyphicon-remove', function () {
                if (confirm("Deseja realmente excluir o e-mail?")) {
                    tbPessoaEmail.row($(this).parents('tr')).remove().draw();
                }
            });

            // botão excluir tbPessoaHistorico
            $('#tbPessoaHistorico tbody').on('click', 'i.glyphicon-remove', function () {
                if (confirm("Deseja realmente excluir o histórico?")) {
                    tbPessoaHistorico.row($(this).parents('tr')).remove().draw();
                }
            });

            $("#proprietario").autocomplete({
                minLength: 3,
                source: function (request, response)
                {
                    var nome = null;
                    var cpf = null;
                    var cnpj = null;
                    var numero = parseInt(request.term);

                    if (isNaN(numero))
                        nome = request.term;
                    else
                    {
                        cpf = request.term;
                        cnpj = request.term;
                    }

                    $.getJSON("/PessoaJuridica/ListarAutoComplete", { Nome: nome, Cpf: cpf, Cnpj: cnpj, Ativo: true }, function (data, status, xhr) {
                        // se não houver pessoa cadastrada, retorna mensagem ao usuário
                        if (data == null || data.Data.length <= 0) {
                            data.Data.push({ Id: 0, Nome: "Pessoa não cadastrada" });
                        }
                        response($.map(data.Data, function (pessoa) {
                            return { label: pessoa.Nome, value: pessoa.Id }
                        }));
                    });
                },
                select: function (event, ui) {
                    // apaga a pesquisa do cliente selecionado
                    if (ui.item.label == "Pessoa não cadastrada") {
                        ui.item.label = "";
                        ui.item.value = "";
                        return;
                    }
                    $("#idProprietario").val(ui.item.value);
                    ui.item.label = ui.item.label;
                    ui.item.value = ui.item.label;
                },
                change: function (event, ui) {
                    if (ui == null || ui.item == undefined || ui.item == null) {
                        $("#proprietario").val("");
                        $("#idProprietario").val("");
                    }
                }
            });

            $("#proprietarioPesquisar").autocomplete({
                minLength: 3,
                source: function (request, response) {
                    var nome = null;
                    var cpf = null;
                    var cnpj = null;
                    var numero = parseInt(request.term);

                    if (isNaN(numero))
                        nome = request.term;
                    else {
                        cpf = request.term;
                        cnpj = request.term;
                    }

                    $.getJSON("/PessoaJuridica/ListarAutoComplete", { Nome: nome, Cpf: cpf, Cnpj: cnpj, Ativo: true }, function (data, status, xhr) {
                        // se não houver pessoa cadastrada, retorna mensagem ao usuário
                        if (data == null || data.Data.length <= 0) {
                            data.Data.push({ Id: 0, Nome: "Pessoa não cadastrada" });
                        }
                        response($.map(data.Data, function (pessoa) {
                            return { label: pessoa.Nome, value: pessoa.Id }
                        }));
                    });
                },
                select: function (event, ui) {
                    // apaga a pesquisa do cliente selecionado
                    if (ui.item.label == "Pessoa não cadastrada") {
                        ui.item.label = "";
                        ui.item.value = "";
                        return;
                    }
                    $("#idProprietarioPesquisar").val(ui.item.value);
                    ui.item.label = ui.item.label;
                    ui.item.value = ui.item.label;
                },
                change: function (event, ui)
                {
                    if (ui == null || ui.item == undefined || ui.item == null) {
                        $("#proprietarioPesquisar").val("");
                        $("#idProprietarioPesquisar").val("");
                    }
                }
            });

            $("#btnPesquisar").click(function () {

                var pessoaDto = {};

                pessoaDto.Nome = $("#nomePesquisar").val();
                pessoaDto.Cnpj = $("#cnpjPesquisar").val();
                pessoaDto.IdProprietario = $("#idProprietarioPesquisar").val();
                pessoaDto.IdTipoPessoa = '@TipoPessoaDto.TipoPessoa.PessoaJurídica.GetHashCode()';

                if ($("#ativo").val() == "0")
                    pessoaDto.Ativo = false;
                else if ($("#ativo").val() == "1")
                    pessoaDto.Ativo = true;

                $.ajax({
                    dataType: "json",
                    type: "GET",
                    url: "/PessoaJuridica/ListarGrid",
                    data: pessoaDto,
                    contentType: "application/json",
                    success: function (data) {

                        if (!data.Sucesso) {
                            alert(data.Erro ? "danger" : "warning", data.Mensagem);
                            return;
                        }

                        tbPessoa.clear();
                        tbPessoa.rows.add(data.Data).draw();
                    }
                });

            });

            $("#btnNovo").click(function () {

                $("#lblAcao").html("Nova");
                $("#lblTitulo").html("");
                $("#btnIncluir").show();
                $("#btnAlterar").hide();

                limparFormulario();
                habilitarModal(true);

                $("#modalPessoaJuridica").modal('show');
                $('#empresa-tab').click();
            });

            $("#btnIncluir,#btnAlterar").click(function () {

                var pessoaDto = {};

                pessoaDto.Id = $("#idPessoa").val();
                pessoaDto.IdTipoPessoa = '@TipoPessoaDto.TipoPessoa.PessoaJurídica.GetHashCode()';

                // aba - empresa

                pessoaDto.Nome = $("#nomeEmpresa").val();
                pessoaDto.Cnpj = $("#cnpj").val();

                if ($("#idProprietario").val() != "")
                    pessoaDto.IdProprietario = $("#idProprietario").val();

                pessoaDto.IdProduto = $("#produto").val();
                pessoaDto.DataAbertura = $("#dataAbertura").val();

                // aba - localizacao

                pessoaDto.CepResidencia = $("#cepResidencia").val();
                pessoaDto.LogradouroResidencia = $("#logradouroResidencia").val();
                pessoaDto.NumeroResidencia = $("#numeroResidencia").val();
                pessoaDto.ComplementoResidencia = $("#complementoResidencia").val();
                pessoaDto.BairroResidencia = $("#bairroResidencia").val();
                pessoaDto.CidadeResidencia = $("#cidadeResidencia").val();
                pessoaDto.UfResidencia = $("#ufResidencia").val();

                // aba - contato

                pessoaDto.PessoaTelefoneDto = [];
                tbPessoaTelefone.rows().every(function (rowIdx, tableLoop, rowLoop) {

                    pessoaDto.PessoaTelefoneDto.push
                    ({
                        "Id": this.data().Id,
                        "IdPessoa": pessoaDto.Id,
                        "Pais": $($($(".pais")[rowIdx]).parents("tr").children().eq(0)).children().val(),
                        "DDD": $($($(".ddd")[rowIdx]).parents("tr").children().eq(1)).children().val(),
                        "Numero": $($($(".numero")[rowIdx]).parents("tr").children().eq(2)).children().val().replace("-",""),
                        "NomeContato": $($($(".nomeContatoTelefone")[rowIdx]).parents("tr").children().eq(3)).children().val(),
                        "IdTipoTelefone": $($($(".tipoTelefone")[rowIdx]).parents("tr").children().eq(4)).children().val()
                    });
                });

                pessoaDto.PessoaEmailDto = [];
                tbPessoaEmail.rows().every(function (rowIdx, tableLoop, rowLoop) {

                    pessoaDto.PessoaEmailDto.push
                        ({
                            "Id": this.data().Id,
                            "IdPessoa": pessoaDto.Id,
                            "Email": $($($(".emailContato")[rowIdx]).parents("tr").children().eq(0)).children().val(),
                            "NomeContato": $($($(".nomeContatoEmail")[rowIdx]).parents("tr").children().eq(1)).children().val()
                        });
                });

                // aba - histórico

                pessoaDto.PessoaHistoricoDto = [];
                tbPessoaHistorico.rows().every(function (rowIdx, tableLoop, rowLoop) {

                    pessoaDto.PessoaHistoricoDto.push
                        ({
                            "Id": this.data().Id,
                            "IdPessoa": pessoaDto.Id,
                            "DataHistorico": $($($(".dataHistorico")[rowIdx]).parents("tr").children().eq(0)).children().val(),
                            "Descricao": $($($(".descricaoHistorico")[rowIdx]).parents("tr").children().eq(1)).children().val()
                        });
                });

                // aba - contratos

                var url = "";
                if (pessoaDto.Id == null || pessoaDto.Id <= 0)
                {
                    pessoaDto.IdUsuarioCadastro = '@usuarioDto.Id';
                    pessoaDto.DataCadastro = '@DateTime.UtcNow';
                    url = "/PessoaJuridica/Incluir";
                }
                else
                    url = "/PessoaJuridica/Alterar";

                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: url,
                    data: JSON.stringify(pessoaDto),
                    contentType: "application/json",
                    success: function (data) {

                        if (!data.Sucesso) {
                            alert(data.Erro ? "danger" : "warning", data.Mensagem);
                            return;
                        }

                        limparFormulario();

                        var idx;

                        if (pessoaDto.Id == null || pessoaDto.Id <= 0) {
                            tbPessoa.clear();
                            tbPessoa.rows.add(data.Data).draw();
                        }
                        else
                        {
                            tbPessoa.rows().every(function (rowIdx, tableLoop, rowLoop) {
                                if (this.data().Id == pessoaDto.Id) {
                                    idx = rowIdx;
                                    return;
                                }
                            });

                            tbPessoa.row(idx).invalidate().data(data.Data[0]).draw();
                        }


                        $("#modalPessoaJuridica").modal('hide');
                    }
                });
            });

            $("#btnAdicionarPessoaTelefone").click(function () {

                var tipoTelefoneDto = @Html.Raw(Json.Encode(ViewBag.TipoTelefone));

                var selectTipoTelefone = "<select name='tipoTelefone' class='form-control tipoTelefone'>"
                selectTipoTelefone += "<option value=''>Tipo Telefone</option>";
                $(tipoTelefoneDto).each(function (i, e) {
                    selectTipoTelefone += "<option value='" + e.Id + "'>" + e.Nome + "</option>";
                });
                selectTipoTelefone += '</select>';

                tbPessoaTelefone.rows.add([
                    {
                        "Id": 0,
                        "Pais": "<input type='text' class='form-control pais' />",
                        "DDD": "<input type='text' class='form-control ddd' />",
                        "Numero": "<input type='text' class='form-control numero celular' />",
                        "NomeContato": "<input type='text' class='form-control nomeContatoTelefone' />",
                        "IdTipoTelefone": selectTipoTelefone,
                        "Acao": "<i class='glyphicon glyphicon-remove' title='Excluir' style='cursor: pointer'></i>"
                    }]).draw();

                $(".ddd").mask("00");

                $(".celular").mask("9999-99999").focusout(function (event) {
                    var target, phone, element;
                    target = (event.currentTarget) ? event.currentTarget : event.srcElement;
                    phone = target.value.replace(/\D/g, '');
                    element = $(target);
                    element.unmask();
                    if (phone.length > 8) {
                        element.mask("99999-9999");
                    }
                    else {
                        element.mask("9999-99999");
                    }
                });
            });

            $("#btnAdicionarPessoaEmail").click(function () {

                tbPessoaEmail.rows.add([
                {
                    "Id": 0,
                    "Email": "<input type='text' class='form-control emailContato' />",
                    "NomeContato": "<input type='text' class='form-control nomeContatoEmail' />",
                    "Acao": "<i class='glyphicon glyphicon-remove' title='Excluir' style='cursor: pointer'></i>"
                }]).draw();
            });

            $("#btnAdicionarPessoaHistorico").click(function () {

                tbPessoaHistorico.rows.add([
                {
                    "Id": 0,
                    "DataHistorico": "<input type='text' class='form-control data datepicker text-center dataHistorico' />",
                    "Descricao": "<textarea class='form-control descricaoHistorico' rows='3'></textarea>",
                    "Acao": "<i class='glyphicon glyphicon-remove' title='Excluir' style='cursor: pointer'></i>"
                }]).draw();

                $(".dataHistorico").mask("00/00/0000");

                $(".dataHistorico").datepicker({
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Próximo',
                    prevText: 'Anterior',
                    changeMonth: true,
                    changeYear: true
                });
            });

            $("#btnExportar").click(function () {

                var existeRegistroGrid = false;

                tbPessoa.rows().every(function (rowIdx, tableLoop, rowLoop) {
                    existeRegistroGrid = true;
                    return;
                });

                if (!existeRegistroGrid) {
                    alert("warning", "Não há registros a serem exportados");
                    return;
                }

                window.location.href = "@Url.Action("Exportar", "PessoaJuridica")?Nome=" + $("#nomePesquisar").val() + "&Cnpj=" + $("#cnpjPesquisar").val() + "&IdProprietario=" + $("#idProprietarioPesquisar").val() + "&IdTipoPessoa=" + "@TipoPessoaDto.TipoPessoa.PessoaJurídica.GetHashCode()";
            });

            document.getElementById('frmPessoaJuridicaImportar').onsubmit = function () {

                var formdata = new FormData();
                var fileInput = document.getElementById('arquivo');

                var existeArquivo = fileInput.files[0] != undefined ? true : false;

                if (!existeArquivo) {
                    alert("warning","Selecione um arquivo para importar");
                    return false;
                }

                $.blockUI({ message: '<h5>Carregando...</h4>' });

                formdata.append(fileInput.files[0].name, fileInput.files[0]);

                var xhr = new XMLHttpRequest();

                xhr.open('POST', '/PessoaJuridica/Importar');
                xhr.send(formdata);

                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        var response = JSON.parse(xhr.responseText);
                        $.unblockUI();
                        alert("info", response.Mensagem);
                    }
                }

                return false;
            }
        });

    </script>
}
<div>
    <h2><i class="glyphicon glyphicon-asterisk" style="color: #0f3456" title="Pessoas Jurídicas"></i> Pessoas Jurídicas</h2>
    <hr />
    <input id="idPessoa" type="hidden" />
    <div class="form-group">
        <div class="row">
            <div class="col-md-2">
                <input id="nomePesquisar" type="text" class="form-control" placeholder="Nome Empresa" />
            </div>
            <div class="col-md-2">
                <input id="cnpjPesquisar" type="text" class="form-control cnpj" placeholder="Cnpj" />
            </div>
            <div class="col-md-3">
                <input id="proprietarioPesquisar" name="proprietarioPesquisar" type="text" class="form-control" placeholder="Proprietário (Mínimo de 3 caracteres - CPF ou CNPJ ou Nome)" />
                <input type="hidden" name="idProprietarioPesquisar" id="idProprietarioPesquisar" />
            </div>
            <div class="col-md-1">
                <select id="ativo" class="form-control">
                    <option value="">Ativo</option>
                    <option value="1">Sim</option>
                    <option value="0">Não</option>
                </select>
            </div>
            <div class="col-md-4">
                <input id="btnPesquisar" type="button" class="btn btn-info" value="Pesquisar" />
                <input id="btnNovo" type="button" class="btn" value="Nova Pessoa Jurídica" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <input id="btnExportar" type="button" class="btn btn-success" value="Exportar" />
                <form id="frmPessoaJuridicaImportar" style="display: inline-flex">
                    <input id="arquivo" name="arquivo" type="file" />
                    <input id="btnImportar" type="submit" class="btn btn-warning" value="Importar" />
                </form>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="table-responsive">
            <table id="tbPessoa" class="table table-hover nowrap">
                <thead>
                    <tr>
                        <td class="text-center" style="width: 5%"><b>Id</b></td>
                        <td class="text-center" style="width: 20%"><b>Nome Empresa</b></td>
                        <td class="text-center" style="width: 15%"><b>Cnpj</b></td>
                        <td class="text-center" style="width: 20%"><b>Proprietário</b></td>
                        <td class="text-center" style="width: 20%"><b>Ativo</b></td>
                        <td class="text-center" style="width: 20%"><b>Ação</b></td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modalPessoaJuridica" tabindex="-1" role="dialog" aria-labelledby="ModalPessoaJuridica" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                <h4 class="modal-title" id="myModalLabel"><span id="lblAcao"></span> Pessoa Jurídica <label id="lblTitulo"></label></h4>
            </div>
            <div class="modal-body">
                <form id="frmPessoaJuridica" action="#">
                    <input id="idPessoa" type="hidden" />
                    <div class="form-group">
                        <div class="row">
                            <ul id="myTab" class="nav nav-tabs nav-justified" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="empresa-tab" data-toggle="tab" href="#empresa" role="tab" aria-controls="empresa" aria-selected="true">Empresa</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="localizacao-tab" data-toggle="tab" href="#localizacao" role="tab" aria-controls="localizacao" aria-selected="false">Localização</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="contato-tab" data-toggle="tab" href="#contato" role="tab" aria-controls="contato" aria-selected="false">Contatos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="historico-tab" data-toggle="tab" href="#historico" role="tab" aria-controls="historico" aria-selected="false">Histórico</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="contratos-tab" data-toggle="tab" href="#contratos" role="tab" aria-controls="contratos" aria-selected="false">Contratos</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <br />
                                <div class="tab-pane active" id="empresa" role="tabpanel" aria-labelledby="empresa-tab">
                                    <div class="rolagem-vertical">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label for="nomeEmpresa">Nome Empresa:</label>
                                                    <input id="nomeEmpresa" type="text" class="form-control" />
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="cnpj">Cnpj:</label>
                                                    <input id="cnpj" type="text" class="form-control cnpj" />
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label" for="proprietario">Proprietário:</label>
                                                    <div class="input-group">
                                                        <input id="proprietario" name="proprietario" type="text" class="form-control" placeholder="Proprietário (Mínimo de 3 caracteres - CPF ou CNPJ ou Nome)" />
                                                        <input type="hidden" name="idProprietario" id="idProprietario" />
                                                        <div class="input-group-addon" style="cursor: pointer" data-id="idProprietario" data-nome="proprietario" data-titulo="Proprietário" data-sem-vinculo="false" data-documento="Cpf/Cnpj" onclick="abrirModalPessoaCadastroAuxiliar(this)">+</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label for="produto">Produto:</label>
                                                    @Html.DropDownList("produto", new SelectList(ViewBag.Produto, "Id", "Nome"), "Produto", new { @class = "form-control" })
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="dataAbertura">Data de Abertura:</label>
                                                    <input id="dataAbertura" type="text" class="form-control data datepicker" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="localizacao" role="tabpanel" aria-labelledby="localizacao-tab">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label for="cepResidencia">Cep:</label>
                                                <input id="cepResidencia" type="text" class="form-control cep" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label for="logradouroResidencia">Logradouro:</label>
                                                <input id="logradouroResidencia" type="text" class="form-control" />
                                            </div>
                                            <div class="col-md-2">
                                                <label for="numeroResidencia">Número:</label>
                                                <input id="numeroResidencia" type="text" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="complementoResidencia">Complemento:</label>
                                                <input id="complementoResidencia" type="text" class="form-control" />
                                            </div>
                                            <div class="col-md-3">
                                                <label for="bairroResidencia">Bairro:</label>
                                                <input id="bairroResidencia" type="text" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="cidadeResidencia">Cidade:</label>
                                                <input id="cidadeResidencia" type="text" class="form-control" />
                                            </div>
                                            <div class="col-md-3">
                                                <label for="ufResidencia">Uf:</label>
                                                @Html.DropDownList("ufResidencia", new SelectList(ViewBag.Estado, "Uf", "Nome"), "Uf", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="contato" role="tabpanel" aria-labelledby="contato-tab">
                                    <h4>Telefones</h4>
                                    <hr />
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12 text-right">
                                                <input id="btnAdicionarPessoaTelefone" type="button" class="btn" value="Adicionar Telefone" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="table-responsive">
                                            <table id="tbPessoaTelefone" class="table nowrap" style="width: 100%">
                                                <thead>
                                                    <tr>
                                                        <td class="text-center" style="width: 5%"><b>Id</b></td>
                                                        <td class="text-center" style="width: 5%"><b>País</b></td>
                                                        <td class="text-center" style="width: 5%"><b>DDD</b></td>
                                                        <td class="text-center" style="width: 20%"><b>Número</b></td>
                                                        <td class="text-center" style="width: 50%"><b>Nome do Contato</b></td>
                                                        <td class="text-center" style="width: 15%"><b>Tipo Telefone</b></td>
                                                        <td class="text-center" style="width: 5%"><b>Ação</b></td>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <h4>E-mails</h4>
                                    <hr />
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12 text-right">
                                                <input id="btnAdicionarPessoaEmail" type="button" class="btn" value="Adicionar Email" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="table-responsive">
                                            <table id="tbPessoaEmail" class="table nowrap" style="width: 100%">
                                                <thead>
                                                    <tr>
                                                        <td class="text-center" style="width: 5%"><b>Id</b></td>
                                                        <td class="text-center" style="width: 45%"><b>E-mail</b></td>
                                                        <td class="text-center" style="width: 50%"><b>Nome do Contato</b></td>
                                                        <td class="text-center" style="width: 5%"><b>Ação</b></td>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="historico" role="tabpanel" aria-labelledby="historico-tab">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12 text-right">
                                                <input id="btnAdicionarPessoaHistorico" type="button" class="btn" value="Adicionar Histórico" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="table-responsive">
                                            <table id="tbPessoaHistorico" class="table nowrap" style="width: 100%">
                                                <thead>
                                                    <tr>
                                                        <td class="text-center"><b>Id</b></td>
                                                        <td class="text-center"><b>Data Histórico</b></td>
                                                        <td class="text-center"><b>Descrição</b></td>
                                                        <td class="text-center"><b>Ação</b></td>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="contratos" role="tabpanel" aria-labelledby="contratos-tab">
                                    <h4>Contratos</h4>
                                    <hr />
                                    <div class="table-responsive">
                                        <table id="tbPessoaContrato" class="table nowrap" style="width: 100%">
                                            <thead>
                                                <tr>
                                                    <td class="text-center" style="width: 10%"><b>Número Contrato</b></td>
                                                    <td class="text-center" style="width: 15%"><b>Cliente</b></td>
                                                    <td class="text-center" style="width: 15%"><b>Placa</b></td>
                                                    <td class="text-center" style="width: 15%"><b>Modelo</b></td>
                                                    <td class="text-center" style="width: 15%"><b>Data Contrato</b></td>
                                                    <td class="text-center" style="width: 15%"><b>Valor Financiado</b></td>
                                                    <td class="text-center" style="width: 15%"><b>Situação Contrato</b></td>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input id="btnIncluir" type="button" class="btn btn-primary" value="Incluir" />
                <input id="btnAlterar" type="button" class="btn btn-warning" value="Alterar" />
            </div>
        </div>
    </div>
</div>

@Html.Partial("_PessoaCadastroAuxiliar")