@using ProjetoTransportadora.Dto;

@{
    ViewBag.Title = "Contratos";

    UsuarioDto usuarioDto = null;
    if (Session[System.Configuration.ConfigurationManager.AppSettings["ProjetoTransportadoraCookieLogin"]] != null)
    {
        usuarioDto = (UsuarioDto)Session[System.Configuration.ConfigurationManager.AppSettings["ProjetoTransportadoraCookieLogin"]];
    }
}

@section styles
{
    <style type="text/css">
        .modal-lg {
            width: 85%;
        }

        .modal-body {
            padding: 40px;
        }

        .ui-autocomplete {
            z-index: 2147483647;
        }
    </style>
}

@section scripts
{
    <script type="text/javascript">

        function habilitarModal(opcao) {
            if (opcao) {
                $("#modalContrato input, #modalContrato select, #modalContrato textarea").removeProp("disabled");
                $("i.glyphicon-remove").show();
            }
            else {
                $("#modalContrato input, #modalContrato select, #modalContrato textarea").prop("disabled", "disabled");
                $("i.glyphicon-remove").hide();
            }
        }

        function limparFormulario() {

            $("#frmContrato").trigger("reset");

            $("#idContrato").val("");
            $("#idProprietarioAnterior").val("");
            $("#idProprietarioAtual").val("");

            $("#tbContratoParcela").DataTable().clear().draw();
            $("#tbContratoHistorico").DataTable().clear().draw();
        }

        function calcularValorFinanciado() {

            var valorVeiculo = Globalize.parseFloat($("#valorVeiculo").val());
            if (isNaN(valorVeiculo))
                valorVeiculo = 0;

            var valorEntrada = Globalize.parseFloat($("#valorEntrada").val());
            if (isNaN(valorEntrada))
                valorEntrada = 0;

            var valorDocumentacao = Globalize.parseFloat($("#valorDocumentacao").val());
            if (isNaN(valorDocumentacao))
                valorDocumentacao = 0;

            var valorTarifa = Globalize.parseFloat($("#valorTarifa").val());
            if (isNaN(valorTarifa))
                valorTarifa = 0;

            var valorVeiculoEntrada = Globalize.parseFloat($("#valorVeiculoEntrada").val());
            if (isNaN(valorVeiculoEntrada))
                valorVeiculoEntrada = 0;

            var valorDesconto = Globalize.parseFloat($("#valorDesconto").val());
            if (isNaN(valorDesconto))
                valorDesconto = 0;

            var valorDepositado = Globalize.parseFloat($("#valorDepositado").val());
            if (isNaN(valorDepositado))
                valorDepositado = 0;

            var valorCaixa = Globalize.parseFloat($("#valorCaixa").val());
            if (isNaN(valorCaixa))
                valorCaixa = 0;

            var valorFinanciado = valorVeiculo - valorEntrada + valorDocumentacao - valorDesconto + valorTarifa - valorVeiculoEntrada - valorCaixa - valorDepositado;

            $("#valorFinanciado").val(Globalize.format(valorFinanciado, "n2"));
        }

        function carregarDadosModal(data) {

            // aba - dados do contrato

            $("#placa").val(data.Placa);
            $("#renavam").val(data.Renavam);
            $("#montadora").val(data.IdMontadora);
            $("#modelo").val(data.Modelo);
            $("#anoFabricacao").val(data.AnoFabricacao);
            $("#anoModelo").val(data.AnoModelo);
            $("#cor").val(data.Cor);
            $("#chassi").val(data.Chassi);
            $("#situacaoContrato").val(data.IdSituacaoContrato);
            $("#rastreador").val(data.Rastreador);

            // aba - valores do contrato

            if (data.PessoaProprietarioAtualDto != null) {
                $("#idProprietarioAtual").val(data.PessoaProprietarioAtualDto.Id);
                $("#proprietarioAtual").val(data.PessoaProprietarioAtualDto.Nome);
            }

            if (data.PessoaProprietarioAnteriorDto != null) {
                $("#idProprietarioAnterior").val(data.PessoaProprietarioAnteriorDto.Id);
                $("#proprietarioAnterior").val(data.PessoaProprietarioAnteriorDto.Nome);
            }

            // aba - parcelas

            $("#tbContratoParcela").DataTable().clear().draw();

            // aba - histórico

            $("#tbContratoHistorico").DataTable().clear().draw();
            $(data.ContratoHistoricoDto).each(function (i, o) {

                $("#tbContratoHistorico").DataTable().rows.add([
                {
                    "Id": o.Id,
                    "DataHistorico": "<input type='text' class='form-control data datepicker text-center dataHistorico' value='" + moment(o.DataHistorico).format("DD/MM/YYYY") + "' />",
                    "Descricao": "<textarea class='form-control descricaoHistorico' rows='3'>" + o.Descricao + "</textarea>",
                    "Acao": "<i class='glyphicon glyphicon-remove' title='Excluir' style='cursor: pointer'></i>"
                }]).draw();
            });

            // aba - resumo



            // reaplica máscaras
            $(".valorMulta").mask("000.000.000,00", { reverse: true });

            $(".dataMulta").mask("00/00/0000");
            $(".dataMulta").datepicker({
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior',
                changeMonth: true,
                changeYear: true
            });

            $(".dataVencimentoMulta").mask("00/00/0000");
            $(".dataVencimentoMulta").datepicker({
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior',
                changeMonth: true,
                changeYear: true
            });
        }

        function consultar(data) {
            limparFormulario();
            carregarDadosModal(data);
            habilitarModal(false);
            $("#lblAcao").text("Consultar");
            $("#lblTitulo").text(data.NumeroContrato);
            $("#idContrato").val("");
            $("#btnIncluir").hide();
            $("#btnAlterar").hide();
            $("#modalContrato").modal('show');
            $('#dados-tab').click();
        }

        function alterar(data, o) {
            limparFormulario();
            carregarDadosModal(data);
            habilitarModal(true);
            $("#idContrato").val(data.Id);
            $("#lblAcao").text("Alterar");
            $("#lblTitulo").text(data.NumeroContrato);
            $("#btnIncluir").hide();
            $("#btnAlterar").show();
            $("#modalContrato").modal('show');
            $('#dados-tab').click();
        }

        $(document).ready(function () {

            var tbContrato = $("#tbContrato").DataTable({
                "ordering": false,
                "bFilter": false,
                "paging": false,
                "ordering": false,
                "info": false,
                "searching": false,
                "language": {
                    "lengthMenu": "_MENU_ registros por página",
                    "zeroRecords": "Sem registros a serem exibidos",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sem registros a serem exibidos",
                    "infoFiltered": "(filtrados de _MAX_ total de registros)",
                    "sSearch": "Pesquisar",
                    "oPaginate": { "sNext": "Próximo", "sPrevious": "Anterior", "sFirst": "Primeiro", "sLast": "Último" }
                },
                "columns":
                    [
                        { "data": "Id", "className": "text-center", "visible": false },
                        { "data": "NumeroContrato", "className": "text-center" },
                        { "data": "PessoaClienteDto.Nome", "className": "text-center" },
                        //{
                        //    "data": function (data, type, row)
                        //    {
                        //        var nome = "";

                        //        if (data.ClienteDto != null)
                        //            nome = data.ClienteDto.Nome;

                        //        return nome;

                        //    }, "className": "text-center"
                        //},
                        { "data": "VeiculoDto.Placa", "className": "text-center" },
                        { "data": "SituacaoContratoDto.Nome", "className": "text-center" },
                        //{
                        //    "data": function (data, type, row) {
                        //        var nome = "";

                        //        if (data.SituacaoContratoDto != null)
                        //            nome = data.SituacaoContratoDto.Nome;

                        //        return nome;

                        //    }, "className": "text-center"
                        //},
                        { "data": function (data, type, row) { return data["DataContrato"] != null ? moment(data["DataContrato"]).format("DD/MM/YYYY") : "" }, "className": "text-center" },
                        { "data": "VeiculoDto.Modelo", "className": "text-center" }
                    ]
            });

            var tbContratoParcela = $("#tbContratoParcela").DataTable({
                "ordering": false,
                "bFilter": false,
                "paging": false,
                "ordering": false,
                "info": false,
                "searching": false,
                "language": {
                    "lengthMenu": "_MENU_ registros por página",
                    "zeroRecords": "Sem registros a serem exibidos",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sem registros a serem exibidos",
                    "infoFiltered": "(filtrados de _MAX_ total de registros)",
                    "sSearch": "Pesquisar",
                    "oPaginate": { "sNext": "Próximo", "sPrevious": "Anterior", "sFirst": "Primeiro", "sLast": "Último" }
                },
                "columns":
                    [
                        { "data": "NumeroParcela", "className": "text-center" },
                        { "data": function (data, type, row) { return data["DataVencimento"] != null ? moment(data["DataVencimento"]).format("DD/MM/YYYY") : "" }, "className": "text-center" },
                        { "data": "DiasContrato", "className": "text-center" },
                        { "data": "DiasParcela", "className": "text-center" },
                        { "data": function (data, type, row) { return data["Fator"] != null ? Globalize.format(data.Fator, "n6") : "" }, "className": "text-center" },
                        { "data": function (data, type, row) { return data["FatorInvertido"] != null ? Globalize.format(data.FatorInvertido, "n6") : "" }, "className": "text-center" },
                        { "data": function (data, type, row) { return data["ValorParcela"] != null ? Globalize.format(data.ValorParcela, "n2") : "" }, "className": "text-center" },
                        { "data": function (data, type, row) { return data["ValorSaldoAnterior"] != null ? Globalize.format(data.ValorSaldoAnterior, "n2") : "" }, "className": "text-center" },
                        { "data": function (data, type, row) { return data["ValorJuros"] != null ? Globalize.format(data.ValorJuros, "n2") : "" }, "className": "text-center" },
                        { "data": function (data, type, row) { return data["ValorAmortizacao"] != null ? Globalize.format(data.ValorAmortizacao, "n2") : "" }, "className": "text-center" },
                        { "data": function (data, type, row) { return data["ValorSaldoAtual"] != null ? Globalize.format(data.ValorSaldoAtual, "n2") : "" }, "className": "text-center" }
                    ]
            });

            var tbContratoHistorico = $("#tbContratoHistorico").DataTable({
                "ordering": false,
                "bFilter": false,
                "paging": false,
                "ordering": false,
                "info": false,
                "searching": false,
                "autoWidth": false,
                "language": {
                    "lengthMenu": "_MENU_ registros por página",
                    "zeroRecords": "Sem registros a serem exibidos",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sem registros a serem exibidos",
                    "infoFiltered": "(filtrados de _MAX_ total de registros)",
                    "sSearch": "Pesquisar",
                    "oPaginate": { "sNext": "Próximo", "sPrevious": "Anterior", "sFirst": "Primeiro", "sLast": "Último" }
                },
                "columns":
                    [
                        { "data": "Id", "className": "text-center", "visible": false, "width": "5%" },
                        { "data": "DataHistorico", "className": "text-center", "width": "5%" },
                        { "data": "Descricao", "className": "text-center", "width": "85%" },
                        { "data": "Acao", "className": "text-center", "width": "5%" }
                    ]
            });

            // botão excluir tbContratoHistorico
            $('#tbContratoHistorico tbody').on('click', 'i.glyphicon-remove', function () {
                if (confirm("Deseja realmente excluir o histórico?")) {
                    tbContratoHistorico.row($(this).parents('tr')).remove().draw();
                }
            });

            $("#clientePesquisar").autocomplete({
                minLength: 3,
                source: function (request, response) {
                    var nome = null;
                    var cpf = null;
                    var cnpj = null;
                    var numero = parseInt(request.term);

                    if (isNaN(numero))
                        nome = request.term;
                    else {
                        cpf = request.term;
                        cnpj = request.term;
                    }

                    $.getJSON("/PessoaJuridica/ListarAutoComplete", { Nome: nome, Cpf: cpf, Cnpj: cnpj, Ativo: true }, function (data, status, xhr) {
                        // se não houver pessoa cadastrada, retorna mensagem ao usuário
                        if (data == null || data.Data.length <= 0) {
                            data.Data.push({ Id: 0, Nome: "Pessoa não cadastrada" });
                        }
                        response($.map(data.Data, function (pessoa) {
                            return { label: pessoa.Nome, value: pessoa.Id }
                        }));
                    });
                },
                select: function (event, ui) {
                    // apaga a pesquisa do cliente selecionado
                    if (ui.item.label == "Pessoa não cadastrada") {
                        ui.item.label = "";
                        ui.item.value = "";
                        return;
                    }
                    $("#idClientePesquisar").val(ui.item.value);
                    ui.item.label = ui.item.label;
                    ui.item.value = ui.item.label;
                },
                change: function (event, ui)
                {
                    if (ui == null || ui.item == undefined || ui.item == null) {
                        $("#clientePesquisar").val("");
                        $("#idClientePesquisar").val("");
                    }
                }
            });

            $("#fiador").autocomplete({
                minLength: 3,
                source: function (request, response) {
                    var nome = null;
                    var cpf = null;
                    var cnpj = null;
                    var numero = parseInt(request.term);

                    if (isNaN(numero))
                        nome = request.term;
                    else {
                        cpf = request.term;
                        cnpj = request.term;
                    }

                    $.getJSON("/PessoaJuridica/ListarAutoComplete", { Nome: nome, Cpf: cpf, Cnpj: cnpj, Ativo: true }, function (data, status, xhr) {
                        // se não houver pessoa cadastrada, retorna mensagem ao usuário
                        if (data == null || data.Data.length <= 0) {
                            data.Data.push({ Id: 0, Nome: "Pessoa não cadastrada" });
                        }
                        response($.map(data.Data, function (pessoa) {
                            return { label: pessoa.Nome, value: pessoa.Id }
                        }));
                    });
                },
                select: function (event, ui) {
                    // apaga a pesquisa do cliente selecionado
                    if (ui.item.label == "Pessoa não cadastrada") {
                        ui.item.label = "";
                        ui.item.value = "";
                        return;
                    }
                    $("#idFiador").val(ui.item.value);
                    ui.item.label = ui.item.label;
                    ui.item.value = ui.item.label;
                },
                change: function (event, ui) {
                    if (ui == null || ui.item == undefined || ui.item == null) {
                        $("#fiador").val("");
                        $("#idFiador").val("");
                    }
                }
            });

            $("#indicacao").autocomplete({
                minLength: 3,
                source: function (request, response) {
                    var nome = null;
                    var cpf = null;
                    var cnpj = null;
                    var numero = parseInt(request.term);

                    if (isNaN(numero))
                        nome = request.term;
                    else {
                        cpf = request.term;
                        cnpj = request.term;
                    }

                    $.getJSON("/PessoaJuridica/ListarAutoComplete", { Nome: nome, Cpf: cpf, Cnpj: cnpj, Ativo: true }, function (data, status, xhr) {
                        // se não houver pessoa cadastrada, retorna mensagem ao usuário
                        if (data == null || data.Data.length <= 0) {
                            data.Data.push({ Id: 0, Nome: "Pessoa não cadastrada" });
                        }
                        response($.map(data.Data, function (pessoa) {
                            return { label: pessoa.Nome, value: pessoa.Id }
                        }));
                    });
                },
                select: function (event, ui) {
                    // apaga a pesquisa do cliente selecionado
                    if (ui.item.label == "Pessoa não cadastrada") {
                        ui.item.label = "";
                        ui.item.value = "";
                        return;
                    }
                    $("#idIndicacao").val(ui.item.value);
                    ui.item.label = ui.item.label;
                    ui.item.value = ui.item.label;
                },
                change: function (event, ui) {
                    if (ui == null || ui.item == undefined || ui.item == null) {
                        $("#indicacao").val("");
                        $("#idIndicacao").val("");
                    }
                }
            });

            $("#promotor").autocomplete({
                minLength: 3,
                source: function (request, response) {
                    var nome = null;
                    var cpf = null;
                    var cnpj = null;
                    var numero = parseInt(request.term);

                    if (isNaN(numero))
                        nome = request.term;
                    else {
                        cpf = request.term;
                        cnpj = request.term;
                    }

                    $.getJSON("/PessoaJuridica/ListarAutoComplete", { Nome: nome, Cpf: cpf, Cnpj: cnpj, Ativo: true }, function (data, status, xhr) {
                        // se não houver pessoa cadastrada, retorna mensagem ao usuário
                        if (data == null || data.Data.length <= 0) {
                            data.Data.push({ Id: 0, Nome: "Pessoa não cadastrada" });
                        }
                        response($.map(data.Data, function (pessoa) {
                            return { label: pessoa.Nome, value: pessoa.Id }
                        }));
                    });
                },
                select: function (event, ui) {
                    // apaga a pesquisa do cliente selecionado
                    if (ui.item.label == "Pessoa não cadastrada") {
                        ui.item.label = "";
                        ui.item.value = "";
                        return;
                    }
                    $("#idPromotor").val(ui.item.value);
                    ui.item.label = ui.item.label;
                    ui.item.value = ui.item.label;
                },
                change: function (event, ui) {
                    if (ui == null || ui.item == undefined || ui.item == null) {
                        $("#promotor").val("");
                        $("#idPromotor").val("");
                    }
                }
            });

            $("#btnPesquisar").click(function () {

                var contratoDto = {};

                contratoDto.Placa = $("#placaPesquisar").val();
                contratoDto.Renavam = $("#renavamPesquisar").val();
                contratoDto.IdProprietarioAtual = $("#idProprietarioAtualPesquisar").val();
                contratoDto.Modelo = $("#modeloPesquisar").val();

                if ($("#ativo").val() == "0")
                    contratoDto.Ativo = false;
                else if ($("#ativo").val() == "1")
                    contratoDto.Ativo = true;

                $.ajax({
                    dataType: "json",
                    type: "GET",
                    url: "/Contrato/Listar",
                    data: contratoDto,
                    contentType: "application/json",
                    success: function (data) {

                        if (!data.Sucesso) {
                            alert(data.Erro ? "danger" : "warning", data.Mensagem);
                            return;
                        }

                        tbContrato.clear();
                        tbContrato.rows.add(data.Data).draw();
                    }
                });

            });

            $("#btnNovo").click(function () {

                $("#lblAcao").html("Novo");
                $("#lblTitulo").html("");
                $("#btnIncluir").show();
                $("#btnAlterar").hide();

                limparFormulario();
                habilitarModal(true);

                $("#valorParcela").prop("disabled", "disabled");
                $("#valorFinanciado").prop("disabled", "disabled");
                $("#situacaoContrato").prop("disabled", "disabled");
                $("#situacaoContrato").val('@SituacaoContratoDto.EnumSituacaoContrato.Ativo.GetHashCode()');

                $("#modalContrato").modal('show');
                $('#dados-tab').click();
            });

            $("#btnIncluir,#btnAlterar").click(function () {

                var contratoDto = {};

                contratoDto.Id = $("#idContrato").val();

                // aba - dados contrato

                contratoDto.Placa = $("#placa").val();
                contratoDto.Renavam = $("#renavam").val();
                contratoDto.IdMontadora = $("#montadora").val();
                contratoDto.Modelo = $("#modelo").val();
                contratoDto.Cor = $("#cor").val();
                contratoDto.AnoFabricacao = $("#anoFabricacao").val();
                contratoDto.AnoModelo = $("#anoModelo").val();
                contratoDto.Chassi = $("#chassi").val();
                contratoDto.IdSituacaoContrato = $("#situacaoContrato").val();
                contratoDto.Rastreador = $("#rastreador").val();

                // aba - valores contrato

                contratoDto.IdProprietarioAtual = $("#idProprietarioAtual").val();
                contratoDto.IdProprietarioAnterior = $("#idProprietarioAnterior").val();

                // aba - parcelas

                contratoDto.Implemento = $("#implementoV").val();
                contratoDto.Comprimento = $("#comprimento").val();
                contratoDto.Altura = $("#altura").val();
                contratoDto.Largura = $("#largura").val();

                // aba - histórico

                contratoDto.ContratoHistoricoDto = [];
                tbContratoHistorico.rows().every(function (rowIdx, tableLoop, rowLoop)
                {
                    contratoDto.ContratoHistoricoDto.push
                        ({
                            "Id": this.data().Id,
                            "IdContrato": ContratoDto.Id,
                            "DataHistorico": $($($(".dataHistorico")[rowIdx]).parents("tr").children().eq(0)).children().val(),
                            "Descricao": $($($(".descricaoHistorico")[rowIdx]).parents("tr").children().eq(1)).children().val(),
                            "IdUsuarioCadastro": '@usuarioDto.Id',
                            "DataCadastro": '@DateTime.UtcNow'
                        });
                });

                var url = "";
                if (contratoDto.Id == null || contratoDto.Id <= 0)
                {
                    contratoDto.IdUsuarioCadastro = '@usuarioDto.Id';
                    contratoDto.DataCadastro = '@DateTime.UtcNow';
                    url = "/Contrato/Incluir";
                }
                else
                    url = "/Contrato/Alterar";

                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: url,
                    data: JSON.stringify(contratoDto),
                    contentType: "application/json",
                    success: function (data) {

                        if (!data.Sucesso) {
                            alert(data.Erro ? "danger" : "warning", data.Mensagem);
                            return;
                        }

                        limparFormulario();

                        var idx;

                        if (contratoDto.Id == null || contratoDto.Id <= 0) {
                            tbContrato.clear();
                            tbContrato.rows.add(data.Data).draw();
                        }
                        else
                        {
                            $("#tbContrato").DataTable().rows().every(function (rowIdx, tableLoop, rowLoop) {
                                if (this.data().Id == contratoDto.Id) {
                                    idx = rowIdx;
                                    return;
                                }
                            });

                            $("#tbContrato").DataTable().row(idx).invalidate().data(data.Data).draw();
                        }

                        $("#modalContrato").modal('hide');
                    }
                });
            });

            $("#btnAdicionarContratoHistorico").click(function () {

                tbContratoHistorico.rows.add([
                {
                    "Id": 0,
                    "DataHistorico": "<input type='text' class='form-control data datepicker text-center dataHistorico' />",
                    "Descricao": "<textarea class='form-control descricaoHistorico' rows='3'></textarea>",
                    "Acao": "<i class='glyphicon glyphicon-remove' title='Excluir' style='cursor: pointer'></i>"
                }]).draw();

                $(".dataHistorico").mask("00/00/0000");

                $(".dataHistorico").datepicker({
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Próximo',
                    prevText: 'Anterior',
                    changeMonth: true,
                    changeYear: true
                });
            });

            $("#btnExportar").click(function () {

                var existeRegistroGrid = false;

                tbContrato.rows().every(function (rowIdx, tableLoop, rowLoop) {
                    existeRegistroGrid = true;
                    return;
                });

                if (!existeRegistroGrid) {
                    alert("warning", "Não há registros a serem exportados");
                    return;
                }

                window.location.href = "@Url.Action("Exportar", "Contrato")?Placa=" + $("#placaPesquisar").val() + "&Renavam=" + $("#renavamPesquisar").val() + "&IdProprietarioAtual=" + $("#idProprietarioAtualPesquisar").val() + "&Modelo=" + $("#modeloPesquisar").val();
            });

            $("#btnGerarParcela").click(function () {

                var simulacaoDto = {};

                simulacaoDto.DataInicio = $("#dataContrato").val();
                simulacaoDto.DataPrimeiraParcela = $("#dataPrimeiraParcela").val();
                simulacaoDto.ValorFinanciado = $("#valorFinanciado").val();
                simulacaoDto.QuantidadeParcela = $("#quantidadeParcela").val();
                simulacaoDto.TaxaMensalJuros = $("#taxaMensalJuros").val();

                //simulacaoDto.ValorPrincipal = $("#valorPrincipal").val();
                //simulacaoDto.ValorDocumentacao = $("#valorDocumentacao").val();
                //simulacaoDto.ValorTarifa = $("#valorTarifa").val();
                //simulacaoDto.ValorDesconto = $("#valorDesconto").val();
                //simulacaoDto.ValorBens = $("#valorBens").val();
                //simulacaoDto.ValorDinheiro = $("#valorDinheiro").val();                

                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: "/Simulacao/GerarParcelas",
                    data: JSON.stringify(simulacaoDto),
                    contentType: "application/json",
                    success: function (data) {

                        if (!data.Sucesso) {
                            alert(data.Erro ? "danger" : "warning", data.Mensagem);
                            return;
                        }

                        tbContratoParcela.clear();
                        tbContratoParcela.rows.add(data.Data).draw();

                        $('#valorParcela').val(Globalize.format(data.Data[0].ValorParcela, "n2"));

                        //habilitar(false);
                        //$('#btnGerarParcela').hide();
                        //$('#btnGerarContrato').show();
                        //$('#btnNovaSimulacao').show();

                        $('#parcelas-tab').click();
                    }
                });

            });

            document.getElementById('frmContratoImportar').onsubmit = function () {

                var formdata = new FormData();
                var fileInput = document.getElementById('arquivo');

                var existeArquivo = fileInput.files[0] != undefined ? true : false;

                if (!existeArquivo) {
                    alert("warning","Selecione um arquivo para importar");
                    return false;
                }

                $.blockUI({ message: '<h5>Carregando...</h4>' });

                formdata.append(fileInput.files[0].name, fileInput.files[0]);

                var xhr = new XMLHttpRequest();

                xhr.open('POST', '/Contrato/Importar');
                xhr.send(formdata);

                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        var response = JSON.parse(xhr.responseText);
                        $.unblockUI();
                        alert("info", response.Mensagem);
                    }
                }

                return false;
            }
        });

    </script>
}
<div>
    <h2><i class="glyphicon glyphicon-list-alt" style="color: #0f3456" title="Contratos"></i> Contratos</h2>
    <hr />
    <input id="idContrato" type="hidden" />
    <div class="form-group">
        <div class="row">
            <div class="col-md-2">
                <label for="numeroContratoPesquisar">Número Contrato:</label>
                <input id="numeroContratoPesquisar" type="text" class="form-control" />
            </div>
            <div class="col-md-3">
                <label for="clientePesquisar">Cliente:</label>
                <input id="clientePesquisar" type="text" class="form-control" placeholder="Cliente (Mínimo de 3 caracteres - CPF ou CNPJ ou Nome)" />
                <input id="idClientePesquisar" type="hidden" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-2">
                <label for="produtoPesquisar">Produto:</label>
                @Html.DropDownList("produtoPesquisar", new SelectList(ViewBag.Produto, "Id", "Nome"), "Selecione", new { @class = "form-control" })
            </div>
            <div class="col-md-2">
                <label for="placaPesquisar">Placa:</label>
                <input id="placaPesquisar" type="text" class="form-control" />
            </div>
            <div class="col-md-2">
                <label for="situacaoContratoPesquisar">Situação Contrato:</label>
                @Html.DropDownList("situacaoContratoPesquisar", new SelectList(ViewBag.SituacaoContrato, "Id", "Nome"), "Selecione", new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-2">
                <label>Período Início:</label>
                <input id="peridoInicioPesquisar" type="text" class="form-control data datepicker" />
            </div>
            <div class="col-md-2">
                <label>Período Fim:</label>
                <input id="peridoFimPesquisar" type="text" class="form-control data datepicker" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-3">
                <input id="btnPesquisar" type="button" class="btn btn-info" value="Pesquisar" />
                <input id="btnNovo" type="button" class="btn" value="Novo Contrato" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <input id="btnExportar" type="button" class="btn btn-success" value="Exportar" />
                <form id="frmContratoImportar" style="display: inline-flex">
                    <input id="arquivo" name="arquivo" type="file" />
                    <input id="btnImportar" type="submit" class="btn btn-warning" value="Importar" />
                </form>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="table-responsive">
            <table id="tbContrato" class="table nowrap">
                <thead>
                    <tr>
                        <td class="text-center" style="width: 5%"><b>Id</b></td>
                        <td class="text-center" style="width: 10%"><b>Número Contrato</b></td>
                        <td class="text-center" style="width: 12.5%"><b>Cliente</b></td>
                        <td class="text-center" style="width: 12.5%"><b>Placa</b></td>
                        <td class="text-center" style="width: 15%"><b>Situação Contrato</b></td>
                        <td class="text-center" style="width: 15%"><b>Data Contrato</b></td>
                        <td class="text-center" style="width: 15%"><b>Modelo</b></td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modalContrato" tabindex="-1" role="dialog" aria-labelledby="ModalContrato" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                    <h4 class="modal-title" id="myModalLabel"><span id="lblAcao"></span> Contrato <label id="lblTitulo"></label></h4>
                </div>
                <div class="modal-body">
                    <form id="frmContrato" action="#">
                        <input id="idContrato" type="hidden" />
                        <div class="form-group">
                            <div class="row">
                                <ul id="myTab" class="nav nav-tabs nav-justified" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="dados-tab" data-toggle="tab" href="#dados" role="tab" aria-controls="dados" aria-selected="true">Dados</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="valores-tab" data-toggle="tab" href="#valores" role="tab" aria-controls="valores" aria-selected="false">Valores</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="parcelas-tab" data-toggle="tab" href="#parcelas" role="tab" aria-controls="parcelas" aria-selected="false">Parcelas</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="historico-tab" data-toggle="tab" href="#historico" role="tab" aria-controls="historico" aria-selected="false">Histórico</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="resumo-tab" data-toggle="tab" href="#resumo" role="tab" aria-controls="resumo" aria-selected="false">Resumo</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="antecipacao-tab" data-toggle="tab" href="#antecipacao" role="tab" aria-controls="antecipacao" aria-selected="false">Antecipação</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <br />
                                    <div class="tab-pane active" id="dados" role="tabpanel" aria-labelledby="dados-tab">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label for="numeroContrato">Número Contrato:</label>
                                                    <input id="numeroContrato" type="text" class="form-control" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="dataContrato">Data Contrato:</label>
                                                    <input id="dataContrato" type="text" class="form-control data datepicker" />
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="cliente">Cliente:</label>
                                                    <input id="cliente" type="text" class="form-control" placeholder="Cliente (Mínimo de 3 caracteres - CPF ou CNPJ ou Nome)" />
                                                    <input id="idCliente" type="hidden" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="produto">Produto:</label>
                                                    @Html.DropDownList("produto", new SelectList(ViewBag.Produto, "Id", "Nome"), "Selecione", new { @class = "form-control" })
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="veiculo">Veículo:</label>
                                                    <input id="veiculo" type="text" class="form-control" placeholder="Veículo (Mínimo de 3 caracteres - Placa ou Modelo)" />
                                                    <input id="idVeiculo" type="hidden" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label for="fiador">Fiador:</label>
                                                    <input id="fiador" type="text" class="form-control" placeholder="Fiador (Mínimo de 3 caracteres - CPF ou CNPJ ou Nome)" />
                                                    <input id="idFiador" type="hidden" />
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="indicacao">Indicação:</label>
                                                    <input id="indicacao" type="text" class="form-control" placeholder="Indicação (Mínimo de 3 caracteres - CPF ou CNPJ ou Nome)" />
                                                    <input id="idIndicacao" type="hidden" />
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="promotor">Promotor:</label>
                                                    <input id="promotor" type="text" class="form-control" placeholder="Promotor (Mínimo de 3 caracteres - CPF ou CNPJ ou Nome)" />
                                                    <input id="idPromotor" type="hidden" />
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="canal">Canal:</label>
                                                    @Html.DropDownList("canal", new SelectList(ViewBag.Canal, "Id", "Nome"), "Selecione", new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label for="dataPrimeiraParcela">Data Primeira Parcela:</label>
                                                    <input id="dataPrimeiraParcela" type="text" class="form-control data datepicker" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="valorParcela">Valor Parcela:</label>
                                                    <input id="valorParcela" type="text" class="form-control valor" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="dataBaixa">Data Baixa:</label>
                                                    <input id="dataBaixa" type="text" class="form-control data datepicker" />
                                                </div>
                                            </div>
                                        </div>                                        
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label for="situacaoContrato">Situação Contrato:</label>
                                                    @Html.DropDownList("situacaoContrato", new SelectList(ViewBag.SituacaoContrato, "Id", "Nome"), "Selecione", new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="valores" role="tabpanel" aria-labelledby="valores-tab">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label for="valorVeiculo">Valor Veículo:</label>
                                                    <input id="valorVeiculo" type="text" class="form-control valor" onchange="calcularValorFinanciado()" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="valorEntrada">Valor Entrada:</label>
                                                    <input id="valorEntrada" type="text" class="form-control valor" onchange="calcularValorFinanciado()" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="valorDocumentacao">Valor Documentação:</label>
                                                    <input id="valorDocumentacao" type="text" class="form-control valor" onchange="calcularValorFinanciado()" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="valorDesconto">Valor Desconto:</label>
                                                    <input id="valorDesconto" type="text" class="form-control valor" onchange="calcularValorFinanciado()" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="valorFinanciadoVeiculo">Valor Financiado Veículo:</label>
                                                    <input id="valorFinanciadoVeiculo" type="text" class="form-control valor" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="valorFinanciadoDocumentacao">Valor Financiado Documentação:</label>
                                                    <input id="valorFinanciadoDocumentacao" type="text" class="form-control valor" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label for="veiculoEntrada">Veículo Entrada:</label>
                                                    <input id="veiculoEntrada" type="text" class="form-control" placeholder="Veículo Entrada (Mínimo de 3 caracteres - Placa ou Modelo)" />
                                                    <input id="idVeiculoEntrada" type="hidden" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="valorVeiculoEntrada">Valor Veículo Entrada:</label>
                                                    <input id="valorVeiculoEntrada" type="text" class="form-control valor" onchange="calcularValorFinanciado()" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="valorDepositado">Valor Depositado:</label>
                                                    <input id="valorDepositado" type="text" class="form-control valor" onchange="calcularValorFinanciado()" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="valorCaixa">Valor Caixa:</label>
                                                    <input id="valorCaixa" type="text" class="form-control valor" onchange="calcularValorFinanciado()" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="valorTarifa">Valor Tarifa:</label>
                                                    <input id="valorTarifa" type="text" class="form-control valor" onchange="calcularValorFinanciado()" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label for="valorFinanciado">Valor Financiado Total:</label>
                                                    <input id="valorFinanciado" type="text" class="form-control valor" disabled="disabled" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="taxaMensalJuros">Taxa Juros:</label>
                                                    <input id="taxaMensalJuros" type="text" class="form-control taxa" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="quantidadeParcela">Quantidade Parcelas:</label>
                                                    <input id="quantidadeParcela" type="text" class="form-control parcela" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12 text-right">
                                                    <input id="btnGerarParcela" type="button" class="btn btn-info" value="Gerar Parcelas" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="parcelas" role="tabpanel" aria-labelledby="parcelas-tab">
                                        <div class="form-group">
                                            <div class="table-responsive">
                                                <table id="tbContratoParcela" class="table nowrap" style="width: 100%">
                                                    <thead>
                                                        <tr>
                                                            <td class="text-center"><b>Parcela</b></td>
                                                            <td class="text-center"><b>Data Vencimento</b></td>
                                                            <td class="text-center"><b>Dias Contrato</b></td>
                                                            <td class="text-center"><b>Dias Parcela</b></td>
                                                            <td class="text-center"><b>Fator</b></td>
                                                            <td class="text-center"><b>Fator Invertido</b></td>
                                                            <td class="text-center"><b>Valor Parcela</b></td>
                                                            <td class="text-center"><b>Valor Saldo Anterior</b></td>
                                                            <td class="text-center"><b>Valor Juros</b></td>
                                                            <td class="text-center"><b>Valor Amortização</b></td>
                                                            <td class="text-center"><b>Valor Saldo Atual</b></td>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="valores" role="tabpanel" aria-labelledby="valores-tab">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label for="dataAquisicao">Data da Aquisição:</label>
                                                    <input id="dataAquisicao" name="dataAquisicao" type="text" class="form-control data datepicker" placeholder="Data da Aquisição" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="valorAquisicao">Valor Aquisição:</label>
                                                    <input id="valorAquisicao" name="valorAquisicao" type="text" class="form-control valor" placeholder="Valor Aquisição" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label for="dataVenda">Data da Venda:</label>
                                                    <input id="dataVenda" name="dataVenda" type="text" class="form-control data datepicker" placeholder="Data da Venda" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="valorVenda">Valor Venda:</label>
                                                    <input id="valorVenda" name="valorVenda" type="text" class="form-control valor" placeholder="Valor Venda" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label for="dataRecuperacao">Data da Recuperação:</label>
                                                    <input id="dataRecuperacao" name="dataRecuperacao" type="text" class="form-control data datepicker" placeholder="Data da Recuperação" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="valorTransportadora">Valor Transportadora:</label>
                                                    <input id="valorTransportadora" name="valorTransportadora" type="text" class="form-control valor" placeholder="Valor Transportadora" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label for="dataValorFIPE">Data do Valor FIPE:</label>
                                                    <input id="dataValorFIPE" name="dataValorFIPE" type="text" class="form-control data datepicker" placeholder="Data do Valor FIPE" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="valorFIPE">Valor FIPE:</label>
                                                    <input id="valorFIPE" name="valorFIPE" type="text" class="form-control valor" placeholder="Valor FIPE" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="historico" role="tabpanel" aria-labelledby="historico-tab">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12 text-right">
                                                    <input id="btnAdicionarContratoHistorico" type="button" class="btn" value="Adicionar Histórico" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="table-responsive">
                                                <table id="tbContratoHistorico" class="table nowrap" style="width: 100%">
                                                    <thead>
                                                        <tr>
                                                            <td class="text-center"><b>Id</b></td>
                                                            <td class="text-center"><b>Data Histórico</b></td>
                                                            <td class="text-center"><b>Descrição</b></td>
                                                            <td class="text-center"><b>Ação</b></td>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="resumo" role="tabpanel" aria-labelledby="resumo-tab">
                                        Resumo
                                    </div>
                                    <div class="tab-pane" id="antecipacao" role="tabpanel" aria-labelledby="antecipacao-tab">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label for="dataAntecipacao">Data Antecipação:</label>
                                                    <input id="dataAntecipacao" type="text" class="form-control data datepicker" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="valorAntecipacao">Valor Antecipação:</label>
                                                    <input id="valorAntecipacao" type="text" class="form-control valor" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <input id="btnIncluir" type="button" class="btn btn-primary" value="Incluir" />
                    <input id="btnAlterar" type="button" class="btn btn-warning" value="Alterar" />
                </div>
            </div>
        </div>
    </div>